#container {
  height: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
}

#disabledText {
  padding-top: 10%;
  color: red;
  font-family: inherit;
  font-size: large;
}
