#container {
  height: 100%;
  display: none;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
}

#hud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: transparent;
}

#disabledText {
  margin-top: 20%;
  color: red;
  font-family: inherit;
  font-size: large;
  text-align: center;
}
