#sidenav-container {
  background-color: black;
  height: 100%;
  width: auto;
}

#content {
  position: relative;
}

#sidenav {
  background-color: transparent;
}

#sidenav-button, #router-outlet {
  position: absolute;
}

#sidenav-button {
  z-index: 10;
}
