#sidenav-container {
  background-color: black;
  height: 100%;
  width: auto;
}

#content {
  position: relative;
}

#sidenav {
  background-color: transparent;
}

#sidenav-button, #router-outlet {
  position: absolute;
}

#sidenav-button {
  z-index: 10;
}

#loadingContainer {
  height: 100%;
  width: auto;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#loadingText {
  grid-row: 1;
  grid-column: 0;
  margin: auto;
  color: greenyellow;
  font-family: inherit;
  font-size: large;
}

#spinner {
  grid-row: 0;
  grid-column: 0;
  margin: auto;
}
