#sidenav-container {
  background-color: black;
  height: 100%;
  width: auto;
}

#content {
  position: relative;
}

#sidenav {
  background-color: transparent;
}

#sidenav-button, #router-outlet {
  position: absolute;
}

#sidenav-button {
  z-index: 10;
}

#loadingContainer {
  height: 100%;
  width: auto;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.loadingText {
  display: flex;
  margin: auto;
  color: greenyellow;
  font-family: inherit;
  font-size: large;
}

#spinner {
  display: flex;
  margin: auto;
}

#button {
  display: flex;
  margin: auto;
}

#footer {
  display: flex;
  color: white;
  font-family: inherit;
  font-size: xx-small;
  text-align: center;
  margin: auto;
  margin-bottom: 0%;
}
