<mat-sidenav-container id="sidenav-container">
  <mat-sidenav id="sidenav" #sidenav role="navigation">
    <nav>
      <a mat-raised-button color="primary" routerLink="/space">Space Mode</a>
      <a mat-raised-button color="primary" routerLink="/observer">Observer Mode</a>
    </nav>
    <a mat-raised-button color="accent" href="https://github.com/MNahad">POWERED BY @MNAHAD</a>
  </mat-sidenav>
  <mat-sidenav-content id="content">
    <button id="sidenav-button" mat-icon-button color="accent" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div #loadingContainer id="loadingContainer">
      <pre id="loadingText">
        STAR TRAK
    
        Track Starlink Satellites in real time
      </pre>
      <mat-spinner id="spinner"></mat-spinner>
    </div>
    <router-outlet id="router-outlet">
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
